* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

button {
    width: 200px;
    height: 60px;
    background-color: aquamarine;
    border: 1px solid orange;
    padding: 2px;
}

.disable {
    opacity: 0.5;
}